<ul>
    <li>
        <h3>Khóa học: ABC</h3>  
        <ul>
            <li>
                <h4><span>Tên bài giảng</span></h4>
                <div class="block-display">
                    <span>Giáo viên: Nguyễn Văn A</span>
                    <span>Thời lượng: 76 phút</span>
                    <span>Thời điểm đưa lên hệ thống: 22/12/2021</span>
                </div>
            </li>
        </ul>
    </li>

</ul>