:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    --margin-left: 40px;
    --header-height: 50px;
    --primary-color: #435560;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

a:hover {
    text-decoration: none;
}

.html {
    margin: 0;
    border: 0;
    padding: 0;
}

.header {
    position: fixed;
    height: var(--header-height);
    top: 0%;
    left: 0;
    right: 0%;
    z-index: 100;
    max-width: 100%;
}

.body {
    width: 100%;
    margin-top: var(--header-height);
}