.dropdown_hocvien .form-control {
    border-radius: 10px;
    border: 1px solid #333333;
}

.dropdown_hocvien {
    margin-left: 60px;
}

.dropdown_hocvien #ccmonth {
    font-weight: 550;
}

.filter-title {
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 5px;
    font-weight: 600;
}

.dropdown_hocvien .add_button {
    margin-top: 70px;
    margin-left: 30px;
    display: flex;
    justify-content: right;
}

.dropdown_hocvien .button {
    border: none;
    background-color: var(--primary-color) !important;
    height: 40px;
    padding: 0 15px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 550;
}