.info-giaovien-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.info-giaovien--active {
    display: flex;
}

.info-giaovien-container .info__box {
    margin: auto;
    background-color: var(--white-color);
    width: 800px;
    border-radius: 20px;
    display: block;
    max-width: 90%;
}


/* ===================================== */

.close__info-giaovien-icon {
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;
}


/* ===================================== */

.info__image {
    flex: 0.4;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 0;
}

.info__image img {
    width: 310px;
    height: 330px;
}

.info__description {
    padding: 35px;
    flex: 0.6;
}

.info-giaovien-container .giaovien__name {
    display: flex;
    justify-content: space-between;
}

.info-giaovien-container .giaovien__workplace {
    display: flex;
    justify-content: space-between;
}

.info-giaovien-container .giaovien__subject {
    display: flex;
    justify-content: space-between;
}

.info-giaovien-container .giaovien__degree {
    display: flex;
    justify-content: space-between;
}

.info-giaovien-container .giaovien__email {
    display: flex;
    justify-content: space-between;
}

.info-giaovien-container .giaovien__studentFollow {
    display: flex;
    justify-content: space-between;
}

.info-giaovien-container .giaovien__description {
    text-align: justify;
    line-height: 20px;
}

.info-giaovien-container .giaovien__value {
    font-size: 15px;
    font-weight: 600;
    color: var(--primary-color);
}

.info-giaovien-container .giaovien__degree .giaovien__value {
    text-align: right;
    width: 70%;
    line-height: 25px;
}

.info-giaovien-container .giaovien__workplace .giaovien__value {
    text-align: right;
    width: 70%;
}