.info-baigiang-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.lesson-info__active {
    display: flex;
}

.info__box {
    margin: auto;
    background-color: var(--white-color);
    width: 650px;
    border-radius: 20px;
    display: block;
    max-width: 90%;
}


/* ===================================== */

.info__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: rgba(150, 150, 150, 0.25);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info__header-name {
    left: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #4d4d4d;
}

.info__body {
    display: flex;
}

.close__info-icon {
    font-size: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.close__info-icon:hover {
    color: #b50a07;
}


/* ===================================== */

.info__image {
    flex: 0.5;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 0;
}

.info__image img {
    width: 100%;
}

.info__description_baigiang {
    padding: 20px;
    margin: 10px;
    flex: 1;
}

.info__button {
    margin-top: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: var(--white-color);
    font-size: 17px;
    font-weight: 500;
}

.info-baigiang-container .baigiang__name {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 650;
    text-align: center;
    line-height: 5px;
}

.info-baigiang-container .info__description_baigiang {
    line-height: 25px;
}

.info-baigiang-container .baigiang_teacher {
    display: flex;
    justify-content: space-between;
}

.info-baigiang-container .baigiang_startDate {
    display: flex;
    justify-content: space-between;
}

.info-baigiang-container .baigiang_subject {
    display: flex;
    justify-content: space-between;
}

.info-baigiang-container .baigiang__value {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 650;
}

.info-baigiang-container .baigiang__description {
    line-height: 25px;
    padding-top: 10px;
    text-align: justify;
}

.youtube-video {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


